# Bazel files
**/bazel-*/
bazel-*
MODULE.bazel.lock

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# Note that .so files are not ignored since the repo contains symlinks to such files
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE stuff
*.vscode
*.*~
TAGS

# Build files
*build
*install

# Python
*.pyc
**/*.egg-info
**/__pycache__
**/.hypothesis/*
*venv*

# Documentation
*docs/_build
*docs/doxyoutput
*docs/api

# Test artifacts
nvblox/tests/*.png
nvblox/tests/*.nvblx
executables/tests/data/test_output_data/

# Built py distribution
nvblox_torch/dist

# Generated version file
nvblox_torch/nvblox_torch/_version.py

# Python version file for pyenv
.python-version
